  <div id="header" class="center-align">
      <div class="container" id="intro-text">

        <h1>what's cookin'?</h1>
        <h2>What's Cookin'?</h2>
        <div id="location-display">
          <p>enter a city or zip to discover the highest rated food in any town or just click the big blue button to use your current location</p>
          <p>your location: {{location}}</p>
        </div>
  <!-- search box and label -->
    <div id="location-input" class="input-field center-align">
        <input id="zipcode" type="text" class="validate" ng-model="zipcode">
        <label for="zipcode">City or Zipcode</label>
    </div>
    <a class="waves-effect waves-orange btn-large blue accent-4" ng-click="foodInit()">Feed Me</a>
    </div>
  </div>

  <br/>


  </div>
  <br />
  <!-- restaurant cards -->
  <div id="biz-cards" class="row">
        <div class="col s12 m4" ng-repeat="business in businesses">
          <div class="card">

            <div class="card-image">
              <div class="center-align" ng-controller="loginController">
                <a class="waves-effect waves-red btn-flat" ng-show="loggedIn()" ng-click="saveFavorite(business)">save to your favorites</a>
              </div>
              <img id="cardImage" src={{business.image_url}}>
              <span class="card-title"><h3>{{business.name}}</h3></span>

            </div>
            <div class="card-content">
              <strong>{{business.categories[0][0]}}</strong>
              <img id="yelp-rating" src="{{business.rating_img_url}}"><br/>
              {{business.location.display_address[0]}},<br/>
              {{business.location.display_address[1]}}
              <span id="phone-number">{{business.display_phone}}</span><br/>
              <!-- <p>"{{business.snippet_text}}"</p> -->
            </div>
          </div>
        </div>
      </div>
