html{
  font-family: 'Bitter', serif;
}
#navigation-bar {
  font-family: 'Bitter', serif;
}

#header{
  height: 580px;
  background-image: url('http://accecel.com/food/backgrounds/bg10.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin-top: -100px;
  position: relative;
  font-family: 'Bitter', serif;

}

#intro-text {
  margin-bottom: -600px;
  font-size: 17px;
}

#intro-text p {
  color: lightgray;
}

#location-input{
  width: 500px;
  margin-left: 115px;
}

#location-display {
  margin-top: -15px;
}

#cookin-logo {
  height: 62px;
  width: 50px;
}


#restaurant-data {
  width: 350px;
  font-family: 'Bitter', serif;
}

#biz-cards {
  font-family: 'Bitter', serif;
}

#biz-cards h3 {
  -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
